.spacer{
  height: 50px;
}

.footer {
  position: fixed;
  height: 50px;
  font-weight: bold;
  padding: 10px;
  bottom: 0;
  width: 100%;
  background-color: #ccc;
  text-align: center;
}

@media only screen and (max-width: 499px) {
  .footer {
    margin-top: 15px;
    position: relative;
  }
}